html {
    scroll-behavior: smooth;
}

html,
body {
  font-family: Quicksand;
  background-color: #161853;
  color: #FAEDF0;
}

a {
    text-decoration: none;
    color: rgb(235, 235, 235);
}

a:hover {
    color: #EC255A;
}

.navbar a:hover {
    color: #EC255A !important;
}

.hider {
    display: none;
}

.navbar {
    display: none;
}


.entry-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.highlight {
    color: #EC255A;
    margin-left: 5px;
}

.entry-link {
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px 20px 10px;
}


#aboutme {
    background-color: #E6CCA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    opacity: 0;
}

.aboutme-content {
    background-color: #533535;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 80px;
    border-radius: 20px;
}

#button {
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
    animation: blinker 1.2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#aboutme svg {
    height: 30px;
    width: 30px;
    opacity: 0;
}

.lang {
    opacity: 0;
}

table {
    margin: 0 auto;
}
td{
    width: 200px;
    height: 50px;
    padding: 10px;
}

#myprojects {
    background-color: #2a8027;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    opacity: 0;
}

#backtotop {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 2%;
}

#backtotop:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

#backtotop i {
    font-size: 40px;
    color: rgb(255, 255, 255);
    display: none;
}
